@tailwind base;
@tailwind components;
@tailwind utilities;

.pulsate-bck-animation {
  -webkit-animation: pulsate-bck-animation 0.5s ease-in-out infinite both;
  animation: pulsate-bck-animation 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-bck-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
